{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Comments {% endblock %}</h1>
    <div style="width: 50%; margin: auto;">
        {% for comment in comments %}
        {% if loop.index % 2 == 0 %}
            {% set bg_color = '#e6f9ff' %}
        {% else %}
            {% set bg_color = '#EEEE' %}
        {% endif %}
        <div style="padding: 10px; background-color: {{ bg_color }}; margin: 20px;">
            <p>#{{ loop.index }}</p>
            <p style="font-size: 24px;">{{ comment }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
